@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html, body {
    min-height: 100vh;
  }

  body {
    margin: 0;
    font-family: 'Jost', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  * {
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
  }
}